html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 50px);
}

body {
    position: static !important;
}

input,
select,
textarea,
button {
    font-family: "Lato", sans-serif !important;
}

button:focus {
    outline: none !important;
}

.goog-te-banner-frame {
    display: none !important;
}

.goog-te-combo {
    width: 80px;
    margin: 0 !important;
    font-family: "Lato", sans-serif !important;
    font-size: 14px !important;
    background: none;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    scrollbar-width: none;
    cursor: pointer;
}

.goog-te-combo option {
    background-color: #fff !important;
    color: #222 !important;
    cursor: pointer !important;
}

.goog-te-combo::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
    user-select: none;
}

#goog-gt-tt,
.goog-te-balloon-frame {
    display: none !important;
}
.goog-text-highlight {
    background: none !important;
    box-shadow: none !important;
}

.text-primary {
    color: #f44336 !important;
}

.text-secondary {
    color: #2d3436;
}

.text-black {
    color: #000;
}

.custom-article iframe {
    min-width: unset !important;
}

/* .advertisement {
    color: white !important;
    font-style: italic;
    width: 50%;
    margin-top: 12px;
    width: 100%;
} */

/* .search-and-lang p {
    float: right;
    color: white !important;
} */

/* live reporting - tab */
.single-post-box .about-more-autor ul.nav-tabs {
    display: flex;
    overflow-x: auto;
}

.single-post-box .about-more-autor ul.nav-tabs li a,
.sidebar .tab-posts-widget ul.nav-tabs li a {
    background-color: #2d3436;
}

.single-post-box .about-more-autor ul.nav-tabs li a {
    padding: 8px 13.9px;
    font-size: 10px;
}

.single-post-box .about-more-autor ul.nav-tabs li {
    width: auto;
}

.single-post-box .title-post {
    margin-top: 20px;
    padding: unset;
}

.hide-underline h1 span {
    border-bottom: unset;
}

.hide-underline.title-section {
    border-bottom: unset;
    margin-bottom: 10px;
}

.single-post-box .post-tags-box {
    border-bottom: unset;
}

.single-post-box .title-post {
    border-bottom: none;
}

/* .single-post-box.round {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding: 20px 0px;
} */

.post-content {
    font-size: 18px;
}

.post-content p {
    line-height: 22px;
    font-size: 16px;
}

.post-gallery {
    float: left;
    margin: 0px 15px 15px 0px;
}

.day-divider {
    padding: 20px;
    text-align: center;
    background-color: #dadada;
}

.day-divider span {
    color: black;
}

.post-tags .share-post-links li a i {
    padding: 5px 8px;
}

/* .post-tags .share-post-links li a i {
} */

.share-box-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media (max-width: 375px) {
    .hide-on-smallest {
        display: none;
    }
}

@media (max-width: 991px) {
    .float-img {
        width: 100%;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 12px;
    }

    .share-box-button {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .float-img {
        width: 100%;
    }

    .navbar {
        min-height: auto;
    }

    .navbar-nav > li {
        padding-left: 10px;
    }

    .navbar-nav > li > a {
        font-size: 13px;
    }

    .search-and-lang {
        display: none;
    }

    .navbar-nav > li > a.home {
        padding-left: 15px;
    }

    .navbar-nav > li > a {
        font-size: 12px;
    }

    .share-box-button {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .float-img {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .float-img {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .float-img {
        width: 50%;
    }
}

.default-text-color {
    color: #333333;

    transition: ease-in-out;
}

.default-text-color:hover {
    transition: ease-in-out 200ms;
    color: #f44336;
    text-decoration: none;
}

.twitter i {
    margin-right: 1px !important;
}

.facebook i {
    margin-right: 1px !important;
}

.whatsapp {
    background-color: unset;

    margin-right: unset;
    margin-left: unset;
}

/* .single-post-box .post-tags-box {
    padding: unset;
} */
<<<<<<< HEAD

.ckeditor-img {
    height:unset!important;
    width:unset!important;
}
=======
>>>>>>> add1d79f3c28592566e8c668557fa86d9e383b32
